<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Administracion</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   

    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="/assets/css/owl.css">

  </head>

  <body>


    <!--- Menu --> 
    <header class="">
      <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand"><h2>FRELL <em>MUSIC </em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">inicio
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/cuadros">Administracion</a>
            </li>
             <li>
              <a class="nav-link" (click)="logout()">Cerrar Sesion</a>
             </li>
           </ul>
         </div>
       </div>
     </nav>
    </header>
   


    <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Listas de Marcas</h2>
            </div>
          </div>
        
  
    
      
    
    
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <a href="/marcas">
                <img src="assets/images/marca.png" alt=""></a>
                
              </div>
              <div class="down-content">
                <!-- <h4>Edgar Alejandro Segovia Guzman</h4> -->
                <span>Marcas</span>
                <p>Es una identificación comercial primordial o el conjunto de varios identificadores con los que se relaciona y ofrece un producto o servicio en el mercado.</p>
              </div>
            </div>
          </div>  
          <!-- <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <a href="/provedores">
                <img src="assets/images/provedo.jpg" alt=""></a>
                
              </div>
              <div class="down-content">
                 <h4>Provedores</h4> 
                <span>Provedores</span>
                <p>Es a aquella persona física o jurídica que provee o suministra un determinado servicio a otros individuos o sociedades, como forma de actividad económica a cambio de una contra prestación.</p>
              </div>
            </div>
          </div> -->

          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <a href="/categorias">
                <img src="assets/images/categoria.jpg" alt=""></a>
                
              </div>
              <div class="down-content">
                <!-- <h4>Edgar Alejandro Segovia Guzman</h4> -->
                <span>Categorias</span>
                <p>Las categorías son los conceptos lógicos fundamentales que reflejan los vínculos y las conexiones más generales y sustanciales de la realidad.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <a href="/instrumento">
                <img src="assets/images/articulos.jpeg" alt=""></a>
                
              </div>
              <div class="down-content">
                <!-- <h4>Provedores</h4> -->
                <span>Articulos</span>
                <p>Un instrumento musical es un objeto compuesto por la combinación de uno o más sistemas resonantes y medios para su vibración, construido con el fin de producir sonido en uno o más tonos que puedan ser combinados por un intérprete para producir música.</p>
              </div>
            </div>
          </div>



          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <a href="/discos">
                <img src="assets/images/discos.jpg" alt=""></a>
                
              </div>
              <div class="down-content">
                <!-- <h4>Edgar Alejandro Segovia Guzman</h4> -->
                <span>Discos</span>
                <p>es un cuerpo cilíndrico con la base muy grande en comparación a su altura. El término tiene múltiples usos de acuerdo al contexto. Puede tratarse de la lámina circular que, con el dispositivo adecuado, emite los sonidos previamente registrados.</p> </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <a href="/artistas">
                <img src="assets/images/cantante.jpg" alt=""></a>
                
              </div>
              <div class="down-content">
                <!-- <h4>Provedores</h4> -->
                <span>Artistas</span>
                <p>Un cantante o cantor​ es un artista que produce con su voz melodías, normalmente utilizando palabras que suelen rimar.En sentido amplio, designa a quien usa su voz para realizar melodías musicales.</p></div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <a href="/generos">
                <img src="assets/images/genero.jpg" alt=""></a>
                
              </div>
              <div class="down-content">
                <!-- <h4>Edgar Alejandro Segovia Guzman</h4> -->
                <span>Genero</span>
                <p>Un género musical es una categoría que reúne composiciones musicales que comparten distintos criterios de afinidad, ​ tales como su función, su instrumentación, el contexto social en que es producida o el contenido de su texto.</p> </div>
            </div>
          </div>
          

          

          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <a href="/estados">
                <img src="assets/images/estados.png" alt=""></a>
              </div>
              <div class="down-content">
                <!-- <h4>Rodolfo Eimy Rodriguez Ramirez</h4> -->
                <span>Estado</span>
                <p>
                  Es una ​entidad federativa o entidad federal​ es, en una de sus acepciones, la entidad subnacional en que se divide una federación.  </p>
              </div>
            </div>
          </div>
        </div>
      </div></div>

    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="inner-content">
                <p>Copyright &copy; 2022 FRELL MUSIC.
              
              - Desarrollado por: <a rel="nofollow noopener">Segovia Guzman</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    