<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Inicio Administrador</title>

   <!-- Bootstrap core CSS -->
   <link href="/pipes/src/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  

  </head>
  <body>

 
    <!--- Menu -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand"><h2>Solidus <em>Systems </em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home2">inicio
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/instrumentos2">El que sigue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/marcas2">Otros</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/equipo">Informacion</a>
             </li>
             <li>
              <a class="nav-link" (click)="logout()">Cerrar Sesion</a>
             </li>
           </ul>
         </div>
       </div>
     </nav>
    </header>
    
   <hr>
   <!-- Page Content -->
   <div class="page-heading contact-heading2 header-text">
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>Nosotros somos Solidus</h4>
          <h2> y ustedes?</h2>
        </div>
      </div>
    </div>
    </div>
   </div>
 <!-- Miembros -->
 <div class="team-members">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Creadores</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-member">
          <div class="thumb-container">
            <img src="assets/images/edgar.jpg" alt="">
            
          </div>
          <div class="down-content">
            <h4>Edgar Alejandro Segovia Guzman</h4>
            <span>Diseñador y programador</span>
            <p>Nuestras virtudes y nuestros defectos son inseparables, como la fuerza y la materia. Cuando se separan, el hombre ya no existe</p>
          </div>
        </div>
      </div>
      
        
    </div>
  </div>
 </div>

     <footer>
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>Copyright &copy; 2022 FRELL MUSIC.
          
          - Desarrollado por: <a rel="nofollow noopener">Segovia Guzman</a></p>
           </div>
         </div>
       </div>
     </div>
     </footer>
     
     <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>
      
  </body> 
  </html>
<!-- <router-outlet></router-outlet> -->


