<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Administracion</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   

    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="/assets/css/owl.css">

  </head>

  <body>
    <header class="">
        <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand"><h2>FRELL <em>MUSIC </em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/home2">inicio
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/instrumentos2">Instrumentos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/marcas2">Marcas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/equipo">Informacion</a>
               </li>
               <li>
                <a class="nav-link" (click)="logout()">Cerrar Sesion</a>
               </li>
             </ul>
           </div>
         </div>
       </nav>
      </header>


    <!-- Page Content -->
    <div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>FRELL</h4>
              <h2>MUSIC</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Localizacion por Mapa</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div id="map"> <!-- Link de la ubicacion de mi casa-->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3599.442273916912!2d-103.35927744990157!3d25.55694852320359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fc4d2e65a46a1%3A0x41ed04cffa6ed234!2sSierra%20Tlahualilo%20547%2C%20Cd%20Nazas%20Pol%C3%ADgono%2024%2C%20Torre%C3%B3n%2C%20Coah.!5e0!3m2!1ses-419!2smx!4v1647672729412!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
               </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
              <h4>¿Porque Somos Frell?</h4>
              <p>FRELL MUSIC es una aplicación web donde se pueda comprar instrumentos y beats (instrumentales). Dentro de la compras para algún instrumento no llegan a ser suficientes ya que algunas plataformas no tienen lo necesario para el cliente, existe una inquietud entre los compradores, que corresponde al cómo venden los productos ya que a veces no tienen lo necesario para lo que ellos necesitan, nosotros vamos a dar un servicio con lo más adecuado que necesitan los artistas para que ellos estén comodos en la plataforma .</p>
              <ul class="social-icons">
                <!-- Redes  -->
                <li><a href="https://www.facebook.com/FRELL-MUSIC-106527011733594/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCTFdnKqe7StQLi0FWJlySjQ"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Formulario de Comentarios -->
    <div class="send-message">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Comentarios Anonimos:</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                 
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Escribe algun comentario de nuestra pagina" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Enviar Comentario</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
            <!-- Final de la pagina -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2022 FRELL MUSIC.
            
            - Desarrollado por: <a rel="nofollow noopener" >Segovia Guzman</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    


  


    

  </body>

</html>
